.game-board {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
}

button.square {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: #bac3cc;
  color: #000000;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
}

.board-row {
  margin: 0 auto;
  text-align: center;
}

.game-info {
  width: 200px;
  height: 200px;
  margin-left: 80%;
  margin-bottom: 150%;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  text-align: center;
}
