.header__text-box {
  /* its 50% of the width and height of the parent elemnt */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  ^^this is shifted from the element not the parent element  */
  text-align: center; /* The button is in here and treated as text to center */
}

.heading-primary {
  color: black;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.btn:link,
.btn:visited {
  /* ^^ Sudo class style elements on speical condtions */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block; /* treated as text*/
  border-radius: 10rem; /* rounds the corrners*/
  transition: all 0.2s; /* simple animation it has to be on the inital state*/
  position: relative;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); /* The shadow on the box*/
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #ffffff;
  color: #777;
  display: flex;
  justify-content: center;
}
.btn::after {
  /* treated as its child*/
  /* this is an element behind the buton virtual element*/
  content: ""; /* you have to specficy*/
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* define the postion of elements on top of each other*/
  /* this is the inital state for the animation for hovering */
  transition: all 0.4s;
}
/* we are trying to put this behind our button*/
.btn--white::after {
  background-color: #ffffff;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6); /* scale increases the size */
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-in-out 0.75s;
  animation-fill-mode: backwards; /* applies the 0% style before it starts*/
}
html {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
